main.acn
main.idx
main.xdy
pdf/tesis.synctex.gz
main.sbl
pdf/tesis.lol
pdf/tesis.idx
pdf/tesis.xdy
pdf/tesis.toc
pdf/tesis.out
pdf/tesis.log
pdf/tesis.pyg
pdf/tesis.synctex.gz
pdf/tesis.acn
pdf/tesis.aux
pdf/tesis.lot
pdf/tesis.lof
main.acr
main.alg
main.aux
main.bbl
main.blg
main.ilg
main.ind
main.lof
main.log
main.lol
main.lot
main.out
main.pdf
main.pyg
main.synctex.gz
main.toc

